<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form class="box" id="box" action="submit" method="post">
    <h1>Telegram bot login</h1>
    <input type="text" id="username" placeholder="login">
    <input type="password" id="password" placeholder="password">
    <input type="hidden" id="chat_id" th:value="${chatId}">
    <input type="submit" value="Submit">
</form>
<script src="login.js"></script>
</body>
</html>
